<div class="home index">
  <h1>Artists and Museums</h1>

  <%= link_to("Artist List",{:controller => "artists"}, {:action => "index"}) %>
  <%= link_to("Museum List",{:controller => "museums"}, {:action => "index"}) %>
</div>
